.hero-wrapper{
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  // transition: all 1.4s ease 0s;

.hero-image {
  position: relative;
  top: 0px;
  left: 0px;
  height: 24rem;
  width: 100vw;
  object-fit: cover;
  transform: scale(1);
  opacity: 1;
  background-image: url("https://images.unsplash.com/photo-1607962837359-5e7e89f86776?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-position-y: center;
  background-position-x: center;
}
  .location {
    // text-transform: capitalize;
    // width: 20rem;
    // min-width: 12rem;
    // margin: 1rem;
    position: absolute;
    z-index: 1;
  }

  select option {
    text-transform: capitalize;
  }

  .selected{
    text-transform: capitalize;
  }
}